<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Movie Duration</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" >
	</head>
	<body>
		<h2> This collection belongs to {{ name }} </h2>
		<h3> Path for css file: {{ url_for('static', filename='css/styles.css') }} </h3>


		<table>
			<tr>
				<th>Movie</th>
				<th>Duration</th>
				<th>Comments</th>
			</tr>
			
			{% for movie, length in movies.items()  %}
				<tr>
					<td>{{ movie }}</td>
					<td>{{ length }}</td>
					{% if length <= 60 %}
					<td style="color: green">short</td>
					{% elif length > 60 and length < 70 %}
					<td style="color: blue">medium</td>
					{% else %}
					<td style="color: red">long</td>	
					{% endif %}
				</tr>
			
			{% endfor %}
		</table>
	</body>




</html>
